body{
    font-family: Arial, Helvetica, sans-serif;
    position: relative;
    min-height: 10vh;
    background-image: url(https://wallpapers.com/images/hd/2d-stardew-valley-mountains-and-sky-bxdaa0lic9b5coki.webp);
}

ul {
    list-style-type: none ;
    padding: 0;
}

#blockT{
    background-color: aquamarine;
    width: 80px;
    align-items: center;
    font-family:Futura;
    border-radius: 10px;
    border-color: black;
    margin: 0 auto; 
    float: none; 
}
