body {
  font-family: Arial, sans-serif;
  background: url("fond.jpg") no-repeat center center fixed;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
  position: relative;
}

#game-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  background: rgba(255, 255, 255, 0.8);
  padding: 20px;
  border-radius: 10px;
  position: relative;
}

#score {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 5px;
  color: #333;
  cursor: pointer;
  position: absolute;
  top: 45px;
  left: calc(50% + 95px); /* Ajustez cette valeur pour centrer le mot */
  z-index: 10;
}

#clicker-image {
  width: 200px;
  height: 200px;
  cursor: pointer;
  transition: transform 0.1s;
}

#clicker-image:active {
  transform: scale(0.95);
}
#menu-button {
  position: absolute;
  top: 20px;
  right: 20px;
  background: none;
  border: none;
  cursor: pointer;
  z-index: 10;
  width: 60px; /* Agrandir la taille du bouton */
  height: 60px; /* Agrandir la taille du bouton */
  transition: opacity 0.3s; /* Ajoutez une transition pour l'opacité */
}

#menu-button img {
  width: 100%; /* Assurez-vous que l'image remplit le bouton */
  height: 100%; /* Assurez-vous que l'image remplit le bouton */
}
#shop-container.visible ~ #menu-button {
  opacity: 0; /* Masque le bouton de menu lorsque le shop est visible */
}
#shop-container {
  position: fixed;
  right: -350px; /* Masqué par défaut */
  top: 0;
  width: 350px;
  height: 100%;
  background: rgba(255, 255, 255, 0.9);
  border-left: 1px solid #ccc;
  overflow-y: auto;
  transition: right 0.3s;
  z-index: 5;
}

#shop-container.visible {
  right: 0; /* Visible lorsque la classe 'visible' est ajoutée */
}

#shop {
  padding: 20px;
}

.upgrade {
  margin-bottom: 15px;
}

.buy-button {
  padding: 15px;
  font-size: 16px;
  cursor: pointer;
  background-color: #2196f3;
  color: white;
  border: none;
  border-radius: 5px;
}

.buy-button:active {
  background-color: #1976d2;
}

#close-button {
  position: absolute;
  top: 10px;
  right: 10px;
  background: none;
  border: none;
  cursor: pointer;
  font-size: 20px;
}

#timer-container {
  position: absolute;
  bottom: 20px;
  left: 20px;
  display: flex;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.7);
  padding: 10px;
  border-radius: 5px;
}

#timer {
  font-size: 18px;
  color: white;
  margin-right: 10px;
}

#timer-image {
  width: 50px;
  height: 50px;
  cursor: pointer;
}
#lettre1 {
  width: 75px;
  height: 75px;
  cursor: pointer;
  position: absolute;
  top: 18px;
  left: calc(50% - 175px); /* Ajustez cette valeur pour centrer le mot */
  z-index: 10;
}

#lettre2 {
  width: 60px;
  height: 60px;
  cursor: pointer;
  position: absolute;
  top: 26px;
  left: calc(50% - 120px); /* Ajustez cette valeur pour centrer le mot */
  z-index: 10;
}

#lettre3 {
  width: 60px;
  height: 60px;
  cursor: pointer;
  position: absolute;
  top: 27px;
  left: calc(50% - 75px); /* Ajustez cette valeur pour centrer le mot */
  z-index: 10;
}

#lettre4 {
  width: 50px;
  height: 50px;
  cursor: pointer;
  position: absolute;
  top: 32px;
  left: calc(50% +60px); /* Ajustez cette valeur pour centrer le mot */
  z-index: 10;
}

#lettre5 {
  width: 52px;
  height: 52px;
  cursor: pointer;
  position: absolute;
  top: 30px;
  left: calc(50% + 20px); /* Ajustez cette valeur pour centrer le mot */
  z-index: 10;
}
#settings-button {
  position: absolute;
  top: 20px;
  left: 20px;
  background: none;
  border: none;
  cursor: pointer;
  z-index: 10;
  width: 40px;
  height: 40px;
}

#settings-button img {
  width: 100%;
  height: 100%;
}

.popup {
  display: none;
  position: absolute;
  top: 60px;
  left: 20px;
  background: rgba(255, 255, 255, 0.9);
  border: 1px solid #ccc;
  padding: 20px;
  border-radius: 5px;
  z-index: 10;
}

.popup h3 {
  margin-top: 0;
}

#close-settings-button {
  position: absolute;
  top: 10px;
  right: 10px;
  background: none;
  border: none;
  cursor: pointer;
  font-size: 20px;
}

@keyframes slideIn {
  from {
    opacity: 0;
    transform: translateX(100%);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

.slide-in {
  animation: slideIn 1s ease-out forwards;
}
